#
# systemctl --user daemon-reload
# systemctl --user enable --now monitor.timer
#


[Unit]
Description=Monitoring Script executed every minute.

[Service]
ExecStart=/home/karsten/.rrd/rrd update $((RANDOM % 1000))

[Install]
WantedBy=default.target

