
Host *
    # Verwende die neueste Protokollversion
    Protocol 2

    # Vermeide DNS-Auflösung der Servernamen
    CheckHostIP no

    # Halte die Verbindung offen für schnelleren Verbindungsaufbau
    ControlMaster auto
    ControlPath ~/.ssh/sockets/%r@%h-%p
    ControlPersist 600

    # Automatisches Hinzufügen unbekannter Host-Keys verhindern
    StrictHostKeyChecking ask
    # Deaktiviere die Nutzung von veralteten Algorithmen
    KexAlgorithms curve25519-sha256@libssh.org
    Ciphers chacha20-poly1305@openssh.com
    MACs hmac-sha2-512-etm@openssh.com

Include ~/.ssh/conf.d/ag.ch.conf
Include ~/.ssh/conf.d/github.conf
