Host *
    ForwardAgent yes
    Compression yes
    ControlMaster auto
    ControlPath ~/.ssh/sockets/%r@%h:%p
    ControlPersist 600
    ServerAliveInterval 60
    ServerAliveCountMax 5
    TCPKeepAlive no
    StrictHostKeyChecking accept-new
    HashKnownHosts yes
    GSSAPIAuthentication no
    PreferredAuthentications publickey
    PubkeyAuthentication yes
    IdentitiesOnly yes
    KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group14-sha256
    Ciphers aes256-gcm@openssh.com,chacha20-poly1305@openssh.com
    MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com
    LogLevel ERROR
    BatchMode yes
    ConnectTimeout 5
    RequestTTY no


Host bastion
    HostName bastion.example.com
    User karsten
    IdentityFile ~/.ssh/id_ed25519


Host *.internal.example.com
    User youruser
    IdentityFile ~/.ssh/id_ed25519
    ProxyJump bastion
    ForwardAgent yes


Host internal-proxy
    HostName internal-proxy.example.com
    User youruser
    IdentityFile ~/.ssh/id_ed25519
    ProxyCommand nc -X connect -x proxy.example.com:3128 %h %p


Host kctl-1
    HostName kctl-1.kube
    User youruser
    IdentityFile ~/.ssh/id_ed25519
    ProxyJump bastion
    LocalForward 6443 kctl-1.kube:6443

