Host demo bastion
  HostName ssh.example.com
  User leyrer
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/demo.ed25519

Host internal
  HostName target.local
  ProxyJump bastion
  User leyrer
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/demo.ed25519
